/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */



/* ---- layout ---- */

.container {
  margin: 0 20px;
}

section.profile {
  float: left;
  width: 39%;
}

section.interests {
  float: left;
  width: 39%;
}

section.experiments {
  clear: both;
}

.profile img{
  width: 100%;
}

